#canvas {
    background: #ececec;
    width:640px;
    height:480px;
}

#footer{
    margin-top:10px;
}

pre{
    background-color: #000000;
<<<<<<< HEAD
    color: #00ff00;
=======
    color: #ffffff;
>>>>>>> 3d8c3d1f574592a5c3e58294d37c05687c772be0
    text-align: center;
    display: inline-block;


}
