#canvas {
    background: #ececec;
    width:640px;
    height:480px;
}

#footer{
    margin-top:10px;
}

pre{
    background-color: #000000;
    color: #00ff00;
    text-align: center;
    display: inline-block;


}
